@model IEnumerable<DrinkViewModel>

<div class="d-flex justify-content-center">
    @if (Model.Count() == 0)
    {
        <div class="text-center">
            <h4 class="display-6" style="color: darkred">Sorry, there is no any drink right now :(</h4>
        </div>
    }
    @foreach (var drink in Model)
    {
        <div class="card" style="width: 8rem;">
            <img class="card-img-top" src="@drink.PhotoUrl" alt="@drink.Name">
            <div class="card-body">
                <h2>@drink.Name</h2>
                <h2>@drink.Price rub</h2>
            </div>
            <div class="card-footer">
                @{
                    var disabled = ViewBag.Balance < drink.Price ? "disabled" : string.Empty;
                }
                <a class="btn btn-outline-primary @disabled" onclick="buyDrink(@drink.Price)">Купить</a>
            </div>
        </div>
    }
</div>